:root {
    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
    --brand-color-main: #2196F3;
    --brand-color-second: #757575;
    --brand-color-third: #212121;
}

body {
    background-color: #fff;
    font-family: Roboto, Raleway, sans-serif;
    color: var(--brand-color-third);
}

 /* HEADER */

.header {
    border-bottom: 1px solid #ECECEC;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    text-align: justify;

}

.header-nav{
    display: flex;
    flex-direction: row;
    margin-right: 344px;
}




.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    text-shadow: 0px 4px 4px #00000040;
    margin-right: 93px;   
    margin-top: 26px;
    margin-bottom: 32px;
}

.logo-blue {
    color: var(--brand-color-main);
    
}

.logo-black {
    color: #000000;
}

.logo:hover,
.logo:focus,
.logo:active {}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 30px;
}

.header-menu-link {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.header-portfolio .active-link,
.header-studio .active-link {
    color: var(--brand-color-main);
}

.header-menu-link > a{
    text-decoration: none;
    color: var(--brand-color-third);
}

.header-menu-link>a:visited {
    color: var(--brand-color-third);
}

.header-menu-link > a:hover,
.header-menu-link > a:focus,
.header-menu-link > a:active {
    color: var(--brand-color-main);
}

.header-contacts {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 34px;
    margin-bottom: 30px;
    padding-left: 0;
}

.header-contacts > li > a {
    color: var(--brand-color-second);
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-contacts > li > a:hover,
.header-contacts > li > a:focus,
.header-contacts > li > a:active {
    color: var(--brand-color-main);
}

 /* MAIN SECTION */

.hero-section {
    background-color: var(--background-color-dark);
    padding: 200px 452px;
    text-align: center;
}

.hero-section-title {
    margin-top: 0px;
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #F5F4FA;
}

.order-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: var(--brand-color-main);
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 32px 10px 32px;
    cursor: pointer;
    border-color:rgba(0, 0, 0, 0);
}

.hero-section > .order-button:hover,
.hero-section > .order-button:focus,
.hero-section > .order-button:active {
    border-radius: 0px;
}

.advantages-section {}

.advantages-section-hide,
.portfolio-main-section .hide {
    visibility: hidden;
    margin: 0px auto;
    font-size: 0;
}

.advantages-section-list {
    list-style: none;
    margin-top: 94px;
    margin-bottom: 94px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.advantages-section .conteiner {
    display: flex;
    flex-direction: column;
}    

.advantages-section-subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.advantages-section-description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--brand-color-second);
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-section .conteiner{
    display: flex;
    flex-direction: column;
}

.about-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.about-section-fotos {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 94px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-section-img {}

.team-section {
    background-color: var(--background-color-light);
}

.team-section .conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
}

.team-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.team-section-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.team-section-group {
    height: 368px;
    width: 270px;
    left: 1115px;
    top: 1632px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

.under-foto {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-section-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.team-section-position {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-color-second);
    margin-bottom: 0;
    margin-top: 0;
}

             /* FOOTER */

.footer {
    background-color: var(--background-color-dark);
}

.conteiner-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-bottom: 60px;
    padding-top: 60px;

}

.logo-white {
    color: #fff;
}

.adress {
    margin-top: 20px;
}

.footer-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-list > li > a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-list > li > a:hover,
.footer-list > li > a:focus,
.footer-list > li > a:active {
    color: var(--brand-color-main);
}

.footer-list .contact-address,
.footer-list .contact-mail {
    margin-bottom: 9px;
}

            /* PORTFOLIO */

.portfolio-main-section {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.portfolio-filter {
    list-style: none;
    display: flex;
    gap: 8px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    justify-content: center;
}

.btn-filter {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
    color: var(--background-color-light);
    background-color: var(--brand-color-main);
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
}

.portfolio-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between 30px;
    align-content: space-between 30px;
    gap: 30px;
}

.portfolio-exemple {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 370px;
    margin-bottom: 0px;
}

.portfolio-exemple:hover,
.portfolio-exemple:focus,
.portfolio-exemple:active {
    cursor: pointer;
}

.portfolio-exemple-img {
    width: 370px;
}

.description-portfolio-exemple {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

}

.portfolio-exemple-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.06em;
        text-align: left;
        margin-bottom: 4px;
        margin-top: 0;
}

.portfolio-exemple p {
    color: var(--brand-color-second);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.portfolio-exemple-web {}

.portfolio-exemple-designe {}

.portfolio-exemple-app {}

.portfolio-exemple-marketing {}




                /* STUDIO */